[Desktop Entry]
Type=Application
Name=ComPort
Comment=Native Mattermost client
Exec=comport %u
Icon=comport
Categories=Network;InstantMessaging;
Keywords=chat;mattermost;im;sso;
MimeType=x-scheme-handler/comport;x-scheme-handler/mattermost;
Terminal=false
StartupNotify=true
StartupWMClass=comport
